<div class="empty m-4">
    <p class="empty-text">
        you don't have any project.
    </p>
    <%= link_to "Create New Project", new_project_path, class: "btn btn-primary text-white", data: { turbo_frame: "project_form" } %>
</div>